<!DOCTYPE html>
<html>
    <head>
        <title>Hurtak</title>

        <%- include('metatags.ejs') %>
        <%- include('styles.ejs') %>
    </head>
    <body>
        <h1><%= title %></h1>

        <%- include('article.ejs') %>

        <%- include('scripts.ejs') %>
    </body>
</html>
